@import './default.less';

.container {
    .nav-left{
        background: #001529;
        color: #fff;
        height: calc(100vh);
    }
    .main{
        height: calc(100vh);
        background: @colorL;
        height: calc(100vh);
    }
    .content{
        position: relative;
        padding: 20px;
    }
}